<html lang="en">
<head>
  <!--Add-Title-Here-->
  <script src="https://kit.fontawesome.com/c5b52774cc.js" crossorigin="anonymous"></script>
  <title>LeadConnect</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,100' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/css/applo.css">
  <!--Bootstrap-->
  <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->

  <!--Font-Awesome-->
  <link rel="stylesheet" href="/css/font-awesome.min.css">

  <!--Owl-Carousel-->
  <link rel="stylesheet" href="/plugins/owl/owl.carousel.min.css">
  <link rel="stylesheet" href="/plugins/owl/owl.theme.default.min.css">

  <!--Youtube-Video-Popup-->
  <link rel="stylesheet" href="/plugins/videoPopup/videoPopup.css">

  <!--Map-->
  <link rel="stylesheet" href="/plugins/map/map-style.css">

  <!--Custom-Main-File-->
  <!-- <link rel="stylesheet" href="/css/custom.css"> -->

  <!--Scroll-Animations-Css-->
  <link rel="stylesheet" href="/plugins/waypoints/animate.css">


  <link type="text/css" rel="stylesheet" href="magicscroll/magicscroll.css"/>
  <script type="text/javascript" src="/js/magicscroll.js"></script>
  <!--Mobile-Responsive-->
  <!-- <link rel="stylesheet" href="/css/responsive.css"> -->
</head>
<body style="overflow-x: hidden">

<!--Preloader-->
<div class="se-pre-con"></div>
<!--Preloader-->

<!--Header Navigation & Banner-->
<section id="home-section">
<div style="width: 100%;position: relative;" data-vide-bg="mp4: /video/ocean, webm: /video/ocean, ogv: /video/ocean" data-vide-options="loop: loop, muted: false, position: 0% 0%"></div>
  <div style="position: absolute;z-index: -1;top: 0px;left: 0px;bottom: 180px;right: 0px;overflow: hidden;background-size: cover;background-color: transparent;background-repeat: repeat;background-position: 0% 0%;background-image: none;">
   <video controls autoplay  loop="" style="margin: auto;">
     <source src="/video/Buildings.mp4" type="video/mp4">
       <source src="/video/Buildings.mp4" type="/video/webm">
         <source src="/video/Buildings.mp4" type="video/ogg">
         </video>



</section>

  <!-- <div class="bg-dark2"> -->



  <!-- <div class="bg-color"> -->

    <!--navigation-starts-here-->
    <nav class="navbar navbar-default animated fadedown">
      <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12  nav-style">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home-section"><img class="img-responsive" src="/images/logo.png"></a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-right hidden-xs btn-res" style="padding-top: 15px;">
              <!-- <button class="btn outline-button">BUY THEME</button> -->
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a class="active" href="#home-section">Home</a></li>
              <li><a href="#about-section">About</a></li>
              <li><a href="#features-section">Features</a></li>
              <li><a href="#video-section">Video</a></li>
              <li><a href="#services-section">Services</a></li>
              <li><a href="#team-section">Team</a></li>
              <li><a href="#sliders-section">Sliders</a></li>
              <li><a href="#testimonials-section">Testimonials</a></li>
              <li><a href="#cd-google-map">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

  <!--Banner-starts-from-here-->
    <section class="sectionP60" style="padding-top: 140px;padding-bottom: 120px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12 header-text sectionP100 animated fadeleft">
                  <h2 class="rM white" style="font-size: 60px;letter-spacing: 6px;">More Leads.<br>More Sales.<br>Made Simple.</h2>
                  <p class="oR white f17">With the website visitors you already have.</p>
                <!-- <button class="btn purple-button" style="margin-top: 30px;">DOWNLOAD APP</button> -->

              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<!--Header Navigation & Banner-->

<!--section-1-about-us-->
<section id="about-section" class="sectionP80">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12 animated fadeleft">
        <div class="col-md-12 col-sm-12 col-xs-12 p0 heading">
          <span class="purple rB f13"><br>Calls</span>
          <h1 class="dark oB"><br>What is LeadConnect ?</h1>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 p0" style="margin-bottom: 30px;">
          <p class="light oR f15"><br>Within 30 seconds. Every time. Hassle free.<br><br>
            Our system calls you according to chosen rules and connects you with every new lead within 30 seconds</p>
          <p class="light oR f15">Operators get information about who they will talk to and what they are interested in, before the call.</p>
        </div>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12 pull-right">
        <div class="why-img animated faderight">
          <img class="img-responsive pull-right centered" src="/images/computers.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!--section-1-about-us-->

<!--section-2-Features-->
<section id="features-section" class="sectionP80" style="background: #efeeee">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12 pull-right animated faderight">
        <div class="heading">
          <span class="purple rB f13">Advantages</span>
          <h1 class="dark oB">Why Choose Leadconnect?</h1>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <div class="col-md-5 col-sm-12 col-xs-12 pull-right animated faderight" style="margin-bottom: 30px;">
          <p class="light oR f15"><br>Lots of people visit your website, but most of them leave to your competitors. That is not acceptable.</p><br>

        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="col-md-4 col-sm-4 col-xs-12 text-center br">
            <div class="feature centered animated fadeup">
              <div class="feature-icon">
                <i class="fa fa-bar-chart"></i>
              </div>
              <div class="feature-desc">
                <h4 class="dark rB">More Leads</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 text-center br b0 service-hover">
            <div class="feature centered animated fadeup">
              <div class="feature-icon">
                <i class="fa fa-clock-o"></i>
              </div>
              <div class="feature-desc">
                <h4 class="dark rB">24 client service</h4>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 text-center br b0 service-hover">
            <div class="feature centered animated fadeup">
              <div class="feature-icon">
                <i class="fa fa-compass"></i>
              </div>
              <div class="feature-desc">
                <h4 class="dark rB">Global service</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--section-2-Features-->

<!--section-3-Youtube-Vieo-Popup-->
<section id="video-section" class="video-bg">
  <div class="video-section-pad">
    <div class="container">
      <div class="row">
        <div class="col-md- col-sm-12 col-xs-12 text-center">
          <a class="videoPopup" href="https://youtu.be/clx8khTwsAM">
            <div class="play-icon centered animated fadeup">
              <img class="img-responsive centered" src="/images/play-img.png">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--section-3-Youtube-Vieo-Popup-->

<!--section-4-Services-->
<section id="services-section" class="sectionP60">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="heading text-center animated fadedown">
          <span class="purple rB f13">Our Services</span>
          <h1 class="dark oB">What Can We Offer?</h1>
          <p class="light oR f15">The lead generation process typically starts when a website visitor clicks on a call-to-action (CTA) located on one of your site pages.</p>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 p0 sectionP30">
        <div class="col-md-3 col-sm-6 col-xs-12 text-center br" style="width: 390px;">
          <div class="service centered animated fadeup">
            <div class="service-icon">
              <i class="fa fa-puzzle-piece"></i>
            </div>
            <div class="service-desc">
              <h4 class="dark rB">Interactive Phone Button</h4>
              <p class="light oR">Show that you are available and encourage website visitors to talk to you.Use different messages, design and workflows for different parts of the website.
                <br>Get 93% more sales calls from your website.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center br b0 service-hover"style="width: 390px;">
          <div class="service centered animated fadeup">
            <div class="service-icon">
              <i class="fa fa-paint-brush"></i>
            </div>
            <div class="service-desc">
              <h4 class="dark rB">Advanced Call Tracking</h4>
              <p class="light oR">Dynamic phone numbers for every website visitor connects calls to the correct person based on user activity and saves lots of information about each visitor to analytics.
                <br>Track the source of each incoming call.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center br b0 service-hover" style="width: 390px;">
          <div class="service centered animated fadeup">
            <div class="service-icon">
              <i class="fa fa-hourglass-2"></i>
            </div>
            <div class="service-desc">
              <h4 class="dark rB">Digital IVR & One-Click Callback</h4>
              <p class="light oR">Let your visitors decide who they want to talk to with just 1 click, instead of with tricky voice menus. Can also be used in email newsletters.
                <br>For identified users, 1 click is enough to get a callback within 30 seconds.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>




<section id="testimonials-section" class="sectionP60" style="background: #efeeee;">


    <div class="container" style="background: #efeeee;">


        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">


                <div class="heading animated fadeleft">

                    <span class="purple rB f13">Testimonials</span>
                    <h1 class="dark oB">What Clients Say?</h1>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 p0 animated fadeup">
                    <div id="owl-testimonials" class="sectionP40 owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonial col-md-11 col-sm-11 col-xs-12">
                                <h5 class="dark rM">Robert Hallgren<span class="light f13 oR">WEB DEVELOPMENT EXPERT</span></h5>
                                <h5 class="light oR m20">A great service level is part of the core of our company and one part of that is to get back to people fast.
                                  <br>Being able to automize follow-up within 30 seconds with Lead Connect is golden for us. We give even better service and get more new clients from our website.</h5>
                                <img class="pull-right quote-img" src="/images/quote.png" alt="quote-img">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="testimonial-img">
                                    <img src="/images/RobertHallgren.png" alt="testimonial image missing">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial col-md-11 col-sm-11 col-xs-12">
                                <h5 class="dark rM">Mats Ståhle<span class="light f13 oR">SEO & ONLINE MARKETING PROFESSIONAL</span></h5>
                                <h5 class="light oR m20">Being a leader in SEO in Sweden, we know how important it is with on-site leads conversion, and therefore we are very happy to use the Lead Connect service.
                                  <br>Not only is the conversion to phone calls higher; talking to a positively surprised prospect is also great!</h5>
                                <img class="pull-right quote-img" src="/images/quote.png" alt="quote-img">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="testimonial-img">
                                    <img src="images\MatsStahle.png" alt="testimonial image missing">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial col-md-11 col-sm-11 col-xs-12">
                                <h5 class="dark rM">Mattias Forsman<span class="light f13 oR">MARKETING DIRECTOR harjedalskok.se</span></h5>
                                <h5 class="light oR m20">At Härjedals Kök we like to be at the forefront of technology, for instance using chat for the customer contact.
                                  The phone button Lead Connect is a perfect complement, and we have received many more customer phone calls and thereby real sales thanks to the service!
                                  We and the customers are happy!</h5>
                                <img class="pull-right quote-img" src="/images/quote.png" alt="quote-img">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="testimonial-img">
                                    <img src="/images/MattiasForsman.png" alt="testimonial image missing">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial col-md-11 col-sm-11 col-xs-12">
                                <h5 class="dark rM">SThomas Skott<span class="light f13 oR">OWNER regent.se</span></h5>
                                <h5 class="light oR m20">Thanks to Lead Connect we have acquired new clients to Regent that otherwise would have not contacted us.It does not take any extra work on our part, but still gives so much extra value.
                                                          It is a new and modern service that strengthens the brand of Regent with our clients regarding digitalization.</h5>
                                <img class="pull-right quote-img" src="/images/quote.png" alt="quote-img">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="testimonial-img">
                                    <img src="/images/ThomasSkott.png" alt="testimonial image missing">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








<!--section-4-Services-->


<!--section-5-More-Features-->

<!--section-6-Counter-->
<!--Counter-Headimng-Starts-Here-->
<section id="counter-section" class="counter-bg">
  <div class="bg-color sectionP100">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <div class="heading text-center animated fadedown">
            <h1 class="white oB m0">Take the Right Step</h1>
            <h4 class="white oS m0">Try LeadConnect Now</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Counter-Starts-here-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12">
        <div class="counter col-md-12 col-sm-12 col-xs-12 p0 animated fadeup">
          <div class="col-md-3 col-sm-6 col-xs-6 text-center">
            <div class="number br">
              <h1 class="numscroller purple rB" data-min='0000' data-max='230' data-delay='1' data-increment='25'></h1>
            </div>
            <div class="number-text">
              <p class="dark rB">Companies</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 text-center">
            <div class="number br">
              <h1 class="numscroller purple rB" data-min='0000' data-max='672' data-delay='1' data-increment='25'></h1>
            </div>
            <div class="number-text">
              <p class="dark rB">Widgets</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 text-center">
            <div class="number br">
              <h1 class="numscroller purple rB" data-min='0000' data-max='16820' data-delay='1' data-increment='25'></h1>
            </div>
            <div class="number-text">
              <p class="dark rB">Calls</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 text-center">
            <div class="number">
              <h1 class="numscroller purple rB" data-min='0000' data-max='9287' data-delay='1' data-increment='25'></h1>
            </div>
            <div class="number-text">
              <p class="dark rB">New Clients</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--section-6-Counter-->

<section>
    <container>
<div class="" style="background: white;padding:100px;">

  <!-- <i class="fas fa-chevron-right" style="top: 50%;transform: tranlateY(-50%);position: relative;left:100%;font-size: 50px;"></i>
  <i class="fas fa-chevron-left" style="top: 50%;transform: tranlateY(-50%);position: relative;left:0%;font-size: 50px;"></i -->
<div class="MagicScroll" data-options="speed: 4400; autoplay: 1000; items: 4;">
    <img src="/images/logo/arndts.png" />
    <img src="/images/logo/cupola.png" />
    <img src="/images/logo/generation.png" />
    <img src="/images/logo/harj.png" />
    <img src="/images/logo/sectoralarm.png" />
    <img src="/images/logo/svenska.png" />
    <img src="/images/logo/vende.png" />
  


</div>
</div>


    </container>
</section>
<!--section-8-Screenshot-Mobiles-Screen-Slider-->

<!--section-9-Half-Screen-Slider-->
<section class="half-owl-bg">
    <div class="sectionP60"; style="background: rgba(239, 238, 238,0.6);">
  <!-- <div class="bg-color sectionP60";> -->
<!-- <div class="bg-color sectionP60" style="background: white";> -->
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12 p0" style="width:550px;padding: 28px;left: 65px;">
          <div class="col-md-5 col-sm-12 col-xs-12 animated fadeleft" style="margin-bottom: 30px;opacity: 0;width: 480px;">
            <div class="col-md-12 col-sm-12 col-xs-12 animated fadeleft">
              <div class="heading">

                <h1 class="white oB" style="color: black;">Analytics</h1>
              </div>
            </div>

            <p class="white oR f15" style="color: black;">Track everything, from A to Z.<br>

                <br>- Source and campaign for each call
                <br>- Time from Lead to Active call
                <br>- Which representative follow up fast/slow
                <br>- Which offices manage calls better/worse
                <br>- Results from each call
                <br>- Campaign profitability
                <br>Stop guessing. Correct based on data.</p><br>

          </div>

        </div>


        <div class="col-md-12 col-sm-12 col-xs-12 p0" style="width:550px;padding: 28px;left: 65px;";>
          <div class="col-md-5 col-sm-12 col-xs-12 animated fadeleft" style="margin-bottom: 30px;opacity: 0;width: 480px;">
            <div class="col-md-12 col-sm-12 col-xs-12 animated fadeleft">
              <div class="heading">

                <h1 class="white oB" style="color: black;">Auto-Improvements</h1>
              </div>
            </div>
            <p class="white oR f15" style="color: black;">Let us make improvements for you,Automatically.
              <br>
              <br>
              <br>A/B-test of texts, images, messages and settings.
              <br>Test what gives the best result.
              <br>
              <br>Can you afford to miss this?</p><br>

          </div>


        </div>
      </div>
    </div>
  </div>
</section>
<!--section-9-Half-Screen-Slider-->

<!--section-10-Testimonials-->

<!--section-10-Testimonials-->

<!--section-11-Contact-Us Details-->
<section id="contact-details-section" class="sectionP60" style="background: #fcfcfc;">
  <div class="container">
    <!-- <div class="row"> -->
      <h5>RESPONSIVE PRICING TABLE DESIGN <br> BY <a target="blank" href="http://www.digimadmedia.com">DIGIMAD MEDIA</h5>

      <div class="price-table-wrapper">
        <div class="pricing-table">
          <h2 class="pricing-table__header">- BASE -</h2>
          <h3 class="pricing-table__price">129$<div class="pricing-table__list" style="font-size: 12px">per month</div></h3>
          <a target="_blank" class="pricing-table__button" href="https://www.leadconnect.se/#callback">
            Join Now!
          </a>
          <ul class="pricing-table__list">
            <li>30 lead calls per month</li>
            <li>€3.95 per extra call</li>
            <li>€39 per extra domain</li>
            <li>Email support</li>
          </ul>
        </div>
        <div class="pricing-table featured-table">
          <h2 class="pricing-table__header">- Plus -</h2>
        <h3 class="pricing-table__price">299$<div class="pricing-table__list" style="font-size: 12px">per month</div></h3>
          <a target="_blank" class="pricing-table__button" href="http://www.digimadmedia.com">
            Join Now!
          </a>
          <ul class="pricing-table__list">
            <li>30 lead calls per month</li>
            <li>€3.95 per extra call</li>
            <li>€39 per extra domain</li>
            <li>Email support</li>
          </ul>
        </div>
        <div class="pricing-table">
          <h2 class="pricing-table__header">- Pro -</h2>
        <h3 class="pricing-table__price">799$<div class="pricing-table__list" style="font-size: 12px">per month</div></h3>
          <a target="_blank" class="pricing-table__button" href="http://www.digimadmedia.com">
            Join Now!
          </a>
          <ul class="pricing-table__list">
            <li>30 lead calls per month</li>
            <li>€3.95 per extra call</li>
            <li>€39 per extra domain</li>
            <li>Email support</li>
          </ul>
        </div>
        <div class="pricing-table featured-table">
          <h2 class="pricing-table__header">- ENTERPRISE -</h2>
        <h3 class="pricing-table__price"> Call Us <div class="pricing-table__list" style="font-size: 12px">__________</div></h3>
          <a target="_blank" class="pricing-table__button" href="http://www.leadconnect">
            Join Now!
          </a>
          <ul class="pricing-table__list">
            <li>40 day free trial</li>
            <li>100gb storage space</li>
            <li>25% discount</li>
            <li>24 hour support</li>
          </ul>
        </div>
      </div>
    <!-- </div> -->
  </div>
</section>
<!--section-11-Contact-Us Details-->

<!--section-12-Google-Map-->
<section>
  <container>
<div class="" style="background: #084155;padding:100px">


<div class="" style="position: relative;left: 440px;top:120px; width:190px;">



    <div class="buttonc">
  	<a class="button" href="#popup1">Connect</a>
  </div>

</div>
<div class="white oB m0" style="position: relative;left: 800px;line-height: 1.6;">
  <h1>Take the Right Step</h1>
  <h3>Click the button & leave your phone number</h1>
  <h3>to receive more information</h1>
    <br><br>


</div>
</div>
</container>
</section>

<section>
    <container>
<div class="" style="background: white;padding:100px;">

  <!-- <i class="fas fa-chevron-right" style="top: 50%;transform: tranlateY(-50%);position: relative;left:100%;font-size: 50px;"></i>
  <i class="fas fa-chevron-left" style="top: 50%;transform: tranlateY(-50%);position: relative;left:0%;font-size: 50px;"></i -->

</div>


    </container>
</section>




<!--section-12-Google-Map-->

<!--section-13-Footer-->

<!--section-13-Footer-->


<!--Javascript-Files-->

<!--Google-jQuery-->
<script src="/js/jquery-2.1.1.js"></script>

<!--Bootstrap-->
<script type="text/javascript" src="/js/bootstrap.js"></script>

<!--Owl-Carousel-->
<script type="text/javascript" src="/plugins/owl/owl.carousel.min.js"></script>

<!--Scroll Animations Js-->
<script type="text/javascript" src="/plugins/waypoints/waypoint.js"></script>
<script type="text/javascript" src="/plugins/waypoints/animation.js"></script>

<!--Counter-->
<script type="text/javascript" src="/plugins/numScroll/numscroller-1.0.js"></script>

<!--Youtube-Video-Popups-->
<script type="text/javascript" src="/plugins/videoPopup/videoPopup.jquery.js"></script>

<!--Map-Google-jQuery-->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmiJjq5DIg_K9fv6RE72OY__p9jz0YTMI"></script> -->
<!--Map-Javascript-->
<!-- <script type="text/javascript" src="/plugins/map/map.js"></script> -->



<!--Common-Javascript-Main-File--->
<script type="text/javascript" src="/js/common.js"></script>

<!--Javascript-Files-->
</body>
</html>
